@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom-in-out-box {
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.btn-dark-moon {
  background: #141e30;
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); 
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  );
  color: #fff;
  border: 3px solid #eee;
}
